	body {
		font-family: futura
		font-weight: normal;
		text-align: center;
	}

				h1 {
					color: #CA68C9
				}

				h2 {
					color: #5FE2D5
				}

				h3 {
					color: #D3A4D6
				}

		img	{
			height: 200px;
			border-radius: 50px;
		}

				li {
					font-weight: bold;
				}

div {
	display: block;
}

.card_white {
	padding: 10px;
	margin: 20px auto;
	width: 700px;
	box-shadow: 0px 10px 30px #CA68C9;
	border-radius:10px;
	background-color: #E7E6E6;
	text-align: center;
}

ul {
	list-style-position: inside;
}

#a {
	font-weight: bold;
}